<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MIT NEXT - Software Development Company</title>

    <link rel="stylesheet" href="/static/css/header-footer.css">
    <link rel="stylesheet" href="/static/css/sections.css">
    <link rel="stylesheet" href="/static/css/about.css">
    <link rel="stylesheet" href="/static/css/portfolio.css">
    <link rel="stylesheet" href="/static/css/contact.css">
    <link rel="stylesheet" href="/static/css/web-development.css">
    <link rel="stylesheet" href="/static/css/mobile_development.css">
    <link rel="stylesheet" href="/static/css/software_testing.css">
    <link rel="stylesheet" href="/static/css/ui_ux_design.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="logo">
                <a href="index.html">
                    <img src="../static/images/logo.jpg" alt="MIT NEXT Logo">

                </a>
            </div>
            <nav class="navbar">
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="{% url 'about-us' %}">About </a></li>
                    <li class="dropdown">
                        <a href="#services">Services <i class="fas fa-chevron-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'web_development' %}">Web Application Development</a></li>
                            <li><a href="{% url 'mobile_development' %}">Mobile App Development</a></li>
                            <li><a href="{% url 'software_testing' %}">Software & Quality Assurance</a></li>
                            <li><a href="{% url 'ui_ux_design' %}">UI/UX Design</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'portfolio' %}">Portfolio</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                    <li><a href="#quote" class="btn btn-quote">Get a Quote</a></li>
                </ul>
            </nav>
            <div class="mobile-menu-btn">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </header>